.container {
  height: 100vh !important;
  width: 100% !important;
  background-image: url("../../../assets/job-bg.jpg") !important;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
}

.textAlign {
  color: rgb(255, 255, 255) !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighty {
  width: 100%;
  height: 80vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.twenty {
  width: 100%;
  height: 20vh !important;
}

span.ant-radio-inner {
  border-color: #01b681 !important;
  background-color: #01b681 !important;
}

.image-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
